<ion-view view-title="favorite">
  <ion-content>
  <br>


    <p>list of favorite. need some editing functions (delete)</p>
    <p>currently using dummy list from dummyDBManager.js</p>


    <!--
    ng-repeat user saved item in the list of favorite
    clicking an item will show its recipe.
    -->

  <button class="button" ng-click="edit()">{{button}}</button>

    <p>color is {{style}}</p>

    <ul>
      <li class="button button-full" ng-repeat="item in listOfFavorite" style={{style}} ng-click="clickOnList(item)">
        {{item.name}} {{item.dateSaved}} </li>
    </ul>

  <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
    <!-- Show icon in left position: item-icon-left -->
    <ion-item ng-repeat="item in listOfFavorite" class="item-thumbnail-left item-icon-right item-text-wrap" style={{style}} ng-click="clickOnList( $index )">
      <img ng-src="{{item.img}}" alt="{{item.title}} Photo">
      <h2>{{item.title}}</h2>
      <h3>{{item.dateSaved}}</h3>



    </ion-item>

  </ion-list>





  </ion-content>
</ion-view>
