<ion-view view-title="favorite">
  <br>


    <p>list of favorite. need some editing functions (delete)</p>
    <p>currently using dummy list from controllers.js</p>


    <!--
    ng-repeat user saved item in the list of favorite
    clicking an item will show its recipe.
    -->

  <button class="button" ng-click="edit()">edit</button>


    <ul>
      <li class="button button-full" ng-repeat="item in listOfFavorite" ng-click="showRecipe(item)">
        {{item.name}} {{item.dateSaved}} </li>
    </ul>


  </ion-content>
</ion-view>
