<ion-view view-title="modal">
  <div style="width:60%; padding-top: 3em; margin: auto">
    <div class="list">
      <label class="item item-input item-stacked-label" style="width:100%">
        <br>
        <span style="color:000000; font-weight:bold; padding: .25em;">Name</span>
        <br>
        <input type="tel" style="background-color:#F0F0F0;border-radius:0px; margin:auto" placeholder="    Orange ">
        <br>
      </label>

      <label class="item item-input item-stacked-label" style="width:100%">
        <br>
        <span style="color:000000; font-weight:bold; padding: .25em;">Description</span>
        <input type="tel" style="background-color:#F0F0F0; border-radius:0px; " placeholder="    Delicious half-sliced Orange!">
        <br>
      </label>

      <br>
      <br>
      <div style="text-align:center">
        <button class="button"
        style="margin: 0;
        background-color:4885ed;
        font-size: 18px;
        color:white;
        margin:auto;
        text-align: center;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-user-select: none;

        cursor: default;
        border-radius:0px; "


        ng-click="toFridge()"


        >Feed my Fridge</button>
      </div>

    </div>

  </div>


</ion-view>
