<ion-view view-title="search recipe">


<br>
<br>
<br>
<div align="center" width="100" height="100">
    <h2>1. Choose meal type</h2>
    <select id="type" style = "font-size:20px; width:60%; height: 40px;  transition: border-color 0.2s;
  border: 5px solid #db3236;
  border-radius: 5px;

  background: #fff;
  color: #555;"ng-init="selecionado" name="type" ng-model="selecionado" ng-options="opcao.id as opcao.desc for opcao in opcoes">
      <br>
    </select>
    <br>
    <br>

    <h2>2. Choose world cuisine</h2>
    <select id="cuisine" style = "font-size:20px; width:60%; height: 40px; transition: border-color 0.2s;
  border: 5px solid #db3236;
  border-radius: 5px;

  background: #fff;
  color: #555;"ng-init="selecionado2" name="type" ng-model="selecionado2" ng-options="opcao2.id as opcao2.desc for opcao2 in opcoes2">

    </select>

<br>
<br>

    <h4>number to be displayed</h3>
	<div style="float: center; width: 40%;">
		<label class="item item-input">
		  <input type="text" name="numSearch" id="numSearch-textarea" ng-model="$parent.numSearch" placeholder="number">
		</label>
    </div>
	
		
<br>
<br>
<div>
   <h3 >Give me some recipes of <br>{{selecionado2}} {{selecionado}} !</h3>
</div>
</div>

<br>
<div align="center" width="100" height="100">
  <button class="button"  style="background-color:4885ed ; color:white;   border-radius:0px;" ng-click="search()">search</button>
</div>

  </ion-content>
</ion-view>
