<ion-view view-title="search recipe">

  <br />


    <h2>Meal type</h2>
    <select name="type" ng-model="type">
      <option value="appetizer" selected>Appetizer</option>
      <option value="breakfast">Breakfast</option>
      <option value="side dish">Side Dish</option>
      <option value="main course">Main Course</option>
    </select>
    <br>


    <h2>world cuisine</h2>
    <select id="cuisine" ng-model="cuisine">
      <option value="american" selected="selected">American</option>
      <option value="korean">Korean</option>
      <option value="greek">Greek</option>
      <option value="italian">Italian</option>
    </select>


  <button class="button" ng-click="search()">search</button>


  </ion-content>
</ion-view>
