<ion-view view-title="recipe Selected">
  <ion-content>
    <h1>selected Recipe</h1>

    <p>back to search result</p>
    <button class="button" ng-click="back()">back</button>


    <p>need to be retrieved from online open database</p>
    <img src="img/fridge.png" id="fridge">

    <!--<img src = "http://lorempixel.com/400/200/">-->
    <img ng-src="{{imgURL || '//:0' }}" alt="{{imgURL}}" ng-if="!!imgURL">

    <p>save it to favorite</p>
    <button class="button" ng-click="save()">save</button>

 <button class="button" ng-click="cook()">cook</button>


  </ion-content>
</ion-view>
